<!--<div class="container">
  <div class="row justify-content-center">
    
    
    <div class="col-4 d-flex justify-content-center">
     
    </div>
   

  </div>
</div> -->

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

